.block-single-blog .content ul {
  padding-left: 0;
}

.block-single-blog .content ul li {
  list-style-type: none;
  margin-bottom: 0;
}

.single-blog-block-item {
  padding-bottom: 2em;
}

.single-blog-block-item h4 {
  margin-top: 0.5em;
}